*{
    box-sizing: border-box;
    margin: 0;
}
html body{
    background-color: #e3efcf;
    margin: 0px 10px;
    font-family: 'Sora', sans-serif;
}
#main-doc{
  background-color: #e3efcf;
}
#welcome-section{
    height: 100vh;
}
#header{
    display: grid;
    grid-template-columns: repeat(8,1fr);
    padding: 1rem;
    justify-items: center;
    font-size: 16px;
        /*newly added*/
        background: linear-gradient(45deg, #e3efcf, #DBCFEF);
}
#header a{
    text-decoration: none;
    color: black;
}

/*Styling the links*/
 #header a:hover{
  font-size: 20px;
  border-bottom-style:solid;
  border-bottom-width: 5px;
  border-bottom-color: #42443e;
}


#header1{
    grid-column: 1/4;
    font-family: 'Roboto', sans-serif;
    color: blue;
    font-size: 30px;

}
#header2{
    grid-column: 4/5;
}

#header3{
    grid-column: 5/6;
}
#header4{
    grid-column: 6/7;
}
#header5{
    grid-column: 8/-1;
    text-shadow: 2px 1px gray;
    font-weight: bolder;
    font-size: large;
}
/*styling the main body part, this contains the image amd the description of myself*/
#container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px,1fr));
}

#welcome{
  font-weight: 800;
  text-align: center;
  padding: 6rem 0;
}

#name{
    font-size: x-large;
    padding: 2rem 0;
    border-left-style: solid;
    border-left-width: 0.5rem;
    border-left-color: rgb(121, 88, 64);
    position: relative;
    width: max-content;
    color: blue;
}
#name::before{
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #e3efcf;
  animation: type 2s steps(36) infinite;
}

@keyframes type {
    to{
        left: 100%;
    }
}

#me{
    font-size: 20px;
    padding-left: 3rem;
}

#contactsEmojis img{
    height: 40px;
    width: 40px;
    padding: 8px;
}
#pro{
    margin-top: 50px;
}


#works > p{
  padding: 4rem;
  text-align: left;
  font-weight: 700;
  font-size: 20px;
  margin-top: 50px;
}

#projects{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    margin-bottom: 200px;
    margin-left: 0px;
    padding-left: 0px;
}
#projects img{
   width: 350px;
   height: 350px;
}
 .contactUs{
     display: grid;
     grid-template-columns: repeat(auto-fit, minmax(280px,1fr));
     box-shadow: 0px 10px 20px gray;
     gap: 20px;
     background-color: #d3d0b7;
     white-space: pre-line;
 }
#what{
    padding: 10px;
    border-left: solid;
}
.contactUs > p{
  padding: 20px 0px;
  text-align: left;
}


form{
    display: flex;
    flex-direction: column;
    font-size: 1.3rem;
    line-height: 30px;
    width: 70%;
    margin: auto;
    background-color: #d3d0b7;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    padding: 20px;
}
form input{
    display: block;
    padding: 1rem;
    font-size: 1.2rem;
    border-style: none;
    border-bottom-style: solid;
    border-bottom-color: blue;
    background-color: transparent;
    color: blue;
    width: 100%;
}
form textarea{
    display: block;
    border-style: none;
    border-bottom-style: solid;
    background-color: transparent;
    width: 100%;
    font-size: 1.2rem;
}


#formpart button{
    background-color: gray;
    width: 100px;
    height: 40px;
    border-radius: 20px;

}



#contactsEmoji img{
    height: 40px;
    width: 40px;
    padding: 8px;
}



footer{
    height: auto;
    line-height: 50px;
    background-color: #c19434;
}
footer a:link{
    text-decoration: none;
    color:black;
    padding: 20px;
    font-weight: 900;
}
footer a:hover{
    background-color: #e3efcf;
    border-radius: 30px;
}

@media only screen and (max-width:800px){
    #contactsEmojis{
        display: none;
    }
    #welcome{
        font-size: 10px;
    }
    #projects{
        width: 50%;
         margin: auto;
     }
     #weclome-section{
         height: 100vh;
     }
  }


  /*small screens*/
  @media only screen and (max-width:500px){
    
    #main-doc{
        background-color: transparent;
      }
    #weclome-section{
        height: 100vh;
    }
    #header{
        display: flex;
        flex-flow: column;
        padding: 0;
        justify-items: center;
        font-size: 16px;
    }
    #header div{
        padding: 1rem;
    }
    #header div a{
        padding:10px 20px;
        float: right;
    }
    #contactsEmojis{
        display: none;
    }

    #works> p{
        padding: 0rem;
        font-weight: 700;
        font-size: 20px;
      }
      #welcome{
          padding: 2rem 0;
      }
      #header1{
          text-align: center;
      }
      #me{
        font-size: 16px;
        padding-left: 0;
        margin: 20px 0;
    }

    #projects{
        margin: 0 2px;
        padding: 0;
      }
    #projects img{
        width: 280px;
        height: 280px;
     }
     form{
        width:100%;
        font-size: 1.2rem;
        padding: 0;
     }
    
    }
   
  @media only screen and (max-width:350px){
      #projects{
        margin: 0;
        padding: 0;
      }
      #projects img{
        width: 200px;
        height: 200px;
      }
      

  }